.main-container {
    display: block;
  }
  
  .left-div {
    flex: 1;
    background-color: #eee;
    padding: 20px;
  }
  
  .right-div {
    flex: 1;
    background-color: #ccc;
    padding: 20px;
  }

  .third-div {
    background-color: rgb(255, 170, 90);
    padding: 20px;
  }
  