.main-container {
    display: block;
  }
  
  .left-div {
    flex: 1;
    background-color: #eee;
    padding: 20px;
  }
  
  .right-div {
    flex: 1;
    background-color: #ccc;
    padding: 20px;
  }

  .third-div {
    background-color: rgb(255, 170, 90);
    padding: 20px;
  }

  .random-fact-div {
    padding: 20px;
    background-color: rgb(252, 73, 73);
  }

  .more-info-button {
    display: inline;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .fact-header {
    display: inline;
    padding-right: 1.75em;
  }

  .fact {
    font-family: cursive;
  }

  button {
    padding: 0.5em;
    margin-right: 2em;
  }
  