ul {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #7bc8fc;
}

.header-title {
    margin: 0;
}

.header-nav {
    margin: 0;
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav li {
    margin-left: 20px;
}

.header-nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

#transparent-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-weight: bolder;
    font-size: large;
}